* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #001127;
    --primary-color-boxes: #001127;
    --secondary-color: #1E293B;
    --tertiary-color: #017181;
    --complementary-color: #14B8A6;
    --second-complementary-color: #9E0031;
    --third-complementary-color: #00effa;
    --text: black;
    --header-text: #F8FAFC;

    --background-arcade-image: url("../images/arcade-background-big.webp");
    --arcade-image: url("../images/arcade.webp");
}

body {
    font-family: 'Inter', Times, serif ;
    background-color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    color: var(--header-text);
    font-family: "Press Start 2P", sans-serif, system-ui;
    font-weight: 400;
    font-style: normal;

    padding: 2.62rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--tertiary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: sticky;
    top: 0;
    z-index: 10;

    .logo-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .logo-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6rem;
            height: 6rem;

            img {
                max-height: 75%;
            }
        }

        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            padding-bottom: 0.25rem;
        }

        .logo-tagline {
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--third-complementary-color);
        }
    }

    .nav-menu {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        .nav-menu-item {
            padding: 0.75rem;
            border-radius: 0.35rem;
            border: 1px solid var(--third-complementary-color);
            color: var(--third-complementary-color);
            transition: transform 0.5s ease-in-out, color 0.1s ease-in-out;

            a {
                text-decoration: none;
                color: var(--third-complementary-color);
            }

            &:hover {
                background-color: var(--third-complementary-color);
                color: var(--primary-color);
                transform: scale(1.15);

                a {
                    text-decoration: none;
                    color: var(--primary-color);
                }
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2.53rem;
    
    background-image: var(--background-arcade-image);
    background-size: 100%;
    overflow-x: hidden;

    .hero {
        .hero-arcade {

            width: min(90vw, 900px);
            aspect-ratio: 1215 / 1295;

            position: relative;

            background-image: var(--arcade-image);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;

            margin: 0 auto;
        }

        .hero-arcade-screen {
            position: absolute;

            left: 26.1%;
            top: 24.9%;

            width: 47%;
            height: 32.5%;

            display: flex;
            align-items: center;
            justify-content: center;

            overflow: hidden;
        }

        .hero-arcade-screen-content {
            width: 88%;
            height: 84%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;

            color: white;
            font-family: monospace;

            overflow: auto;
            
            p {
                margin: 0 0 1rem;
                font-size: clamp(0.7rem, 1.5vw, 1.1rem);
            }            

            .hero-arcade-screen-title {
                font-size: 2.5rem;
                font-weight: 600;
            }

            .hero-arcade-screen-subtitle {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .hero-arcade-screen-play-button {
                width: 89px;
                height: 46px;
                background-image: url("../images/play.webp");
                background-size: cover;
                background-repeat: no-repeat;

                &:active {
                    width: 89px;
                    height: 42px;
                    margin-top: 4px;
                    background-image: url("../images/play-pressed.webp");
                }
            }
        }
    }

    .section-box {        
        margin: 1.75rem;        
        border-radius: 0.34rem;
        position: relative;
        box-shadow: 0 0 8px rgba(20, 184, 166, 0.25), 
            0 0 25px rgba(2, 132, 199, 0.15);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 1.5px;

            background: linear-gradient(
                135deg,
                #0284C7 0%,
                #14B8A6 35%,
                #2DD4BF 50%,
                #0284C7 75%,
                #14B8A6 100%
            );

            border-radius: 0.34rem;

            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            pointer-events: none;
        }
    }

    .about-me {
        background-color: var(--primary-color);
        opacity: 0.25;
        transition: transform 0.5s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }

        .about-me-title {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px solid var(--third-complementary-color);
            border-top: 2px solid #0070b4;
            border-bottom: 2px solid #0070b4;
            border-radius: 0.34rem;

            padding: 0.46rem;
            color: #0284C7;
        }

        .about-me-content {
            padding: 0.76rem;
            color: white;
        }
    }

    .about-me-card-left {
        margin-right: 15vw;
        margin-left: -0.5rem;
        box-shadow: 0.2rem 0.2rem 0.15rem rgb(0, 0, 0, 0.15);
        margin-bottom: 0.8rem;
        left: -45vw;
    }

    .about-me-card-left-animation {
        animation-name: revealLeft;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    .about-me-card-right {
        align-self: flex-end;
        margin-left: 15vw;
        margin-right: -0.5rem;
        box-shadow: -0.2rem 0.2rem 0.15rem rgb(0, 0, 0, 0.15);
        margin-bottom: 0.8rem;
        right: -45vw;
    }

    .about-me-card-right-animation {
        animation-name: revealRight;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }


    .projects {    
        display: flex;
        flex-direction: column;

        .projects-title {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--third-complementary-color);
            text-align: center;
            width: fit-content;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            margin-top: 2.5rem;
            background-color: var(--primary-color);
            transition: all 0.2s ease-in;
            font-family: "Press Start 2P", sans-serif, system-ui;
            font-size: 1.1rem;

            &:hover {
                background-color: var(--third-complementary-color);
                color: var(--primary-color);
                transform: translateY(-0.4rem);
                box-shadow: 0 0.25rem 0 #101111;
            }
        }

        .project-holder {
            width: 100%;
            max-width: 90vw;
            padding: 0.6rem 1.2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40ch, 25%));
            gap: 1.4rem;
            justify-content: center;
            align-items: center;

                .project-item {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 0 0.15rem rgb(0, 0, 0, 0.2);
                    position: relative;
                    border-radius: 0.4rem;
                    transition: transform 0.5s ease-in-out, box-shadow 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.03) rotate(0.5deg);
                        box-shadow: 0 0.15rem 0.15rem rgb(0, 0, 0, 0.4);
                    }
                }

                .project-item-image img {
                    width: calc(100%);
                    height: 26rem;
                    object-fit: cover;
                    border-radius: 0.4rem;
                }

                .project-item-content {
                    width: calc(100%);
                    position: absolute;
                    bottom: 0;
                    padding: 0.6rem 1.2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    background-color: rgb(251, 253, 252, 1);
                    border-radius: 0.4rem;
                }

                .project-item-name {
                    font-weight: bold;
                    font-size: 1.4rem;
                }

                .project-item-tags {
                    display: flex;
                    font-size: 0.8rem;
                    gap: 0.5rem;
                    flex-wrap: wrap;
                }

                .project-item-tags .project-tag {
                    padding: 0.3rem 0.3rem;
                    background-color: var(--primary-color-boxes);
                    color: white;
                    border-radius: 0.3rem;
                }

                .project-item-description {
                    font-size: 0.8rem;
                }

                .project-item-links {
                    display: flex;
                    justify-content: center;
                    gap: 0.4rem;
                    padding: 0.4rem 0;
                }

                .project-item-links a {
                    text-decoration: none;
                    background-color: var(--primary-color-boxes);
                    color: white;
                    border: 0;
                    font-weight: bold;
                    border-radius: 0.4rem;
                    padding: 0.5rem 1.2rem;
                    padding-bottom: 0.35rem;
                    font-size: 0.9rem;
                    box-shadow: 0 0.25rem 0 #131314;
                    transition: all 0.2s ease-in;
                }


                .project-item-links a:hover {
                    color: white;
                    background-color: #171718;
                    box-shadow: 0 0.25rem 0 #101111;
                }
            }
        }


    .contact {
        background-color: var(--primary-color);
        width: 40%;
        margin: 0 auto;
        transition: transform 0.5s ease-in-out;
        margin-top: 2.5rem;

        &:hover {
            transform: scale(1.01);
        }

        .contact-title {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px solid var(--third-complementary-color);
            border-top: 2px solid #0070b4;
            border-bottom: 2px solid #0070b4;
            border-radius: 0.34rem;

            padding: 0.46rem;
            color: #0284C7;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            padding: 0.8rem;

            label {
                font-size: 0.8rem;
                font-weight: 600;
                color: var(--third-complementary-color);
            }

            input, textarea {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid var(--third-complementary-color);
                border-radius: 0.25rem;
                font-size: 0.8rem;

                &:focus {
                    outline: none;
                    border: 1px solid var(--third-complementary-color);
                }
            }

            input {
                max-width: 21rem;
            }

            textarea {
                resize: none;
                height: 100px;
            }

            button {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid var(--third-complementary-color);
                border-radius: 0.25rem;
                font-size: 0.8rem;
                background-color: var(--primary-color);
                color: white;
                transition: all 0.2s ease-in;

                &:hover {
                    background-color: var(--third-complementary-color);
                    color: var(--primary-color);
                    transform: scale(1.01);
                }
            }
        }
    }
}



.footer {        
    padding: 2.52rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--primary-color);
    border-top: 1px solid var(--tertiary-color);
    box-shadow: 0px -4px -4px rgba(0, 0, 0, 0.25);

    
    color: var(--third-complementary-color);
}

@keyframes revealLeft {
    75% {
        opacity: 0.9;
    }
	100% {
		left: 0;
        opacity: 1;
	}
}

@keyframes revealRight {
    75% {
        opacity: 0.9;
    }
	100% {
		right: 0;
        opacity: 1;
	}
}

@media (max-width: 768px) {
    .project-holder {
        flex-direction: row;
    }
}